SUBSYSTEM=="misc", KERNEL=="uinput", GROUP="input", MODE="0660"
SUBSYSTEM=="drm", KERNEL=="card[0-9]*", GROUP="video", MODE="0660"
SUBSYSTEM=="drm", KERNEL=="renderD[0-9]*", GROUP="render", MODE="0660"
